@import "landing/selly";
@import "landing/text-left";
@import "landing/text-right";
@import "landing/trademark";
@import "landing/sign-up";
@import "landing/social-block";
@import "landing/last-block";