footer {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e1e1e1;

  .container {
    width: 902px;
    margin-left: 50px;

    ul {
      display: inline-block;
      width: 525px;
      font-size: 0;

      li {
        display: inline-block;
        margin-right: 25px;

        a{
          font: lighter 14px "Open Sans";
          line-height: 100px;
          text-decoration: none;
          color: #8a8a8a;

          &:hover {
            color: black;
            @include transition-property(color);
            @include transition-duration(250ms);
          }
        }
      }
    }

    .copyright {
      display: inline-block;
      margin-left: 250px;
      font: lighter 14px "Open Sans";
      line-height: 100px;
      color: #8a8a8a;
    }
  }
}
