footer {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: -100%;
    left: -100%;
    z-index: -1;
    height: 1px;
    background-color: #e1e1e1;
    content: '';
  }

  nav {

      ul {
        float: left;
        width: 525px;
        margin-left: 46px;
        font-size: 0;

        li {
          display: inline-block;
          margin-right: 25px;

          a{
            font: lighter 14px "Open Sans";
            line-height: 100px;
            text-decoration: none;
            color: #8a8a8a;

            &:hover {
              color: black;
              @include transition-property(color);
              @include transition-duration(250ms);
            }
          }
        }
      }

      .copyright {
        float: right;
        margin-right: 46px;
        font: lighter 14px "Open Sans";
        line-height: 100px;
        color: #8a8a8a;
      }
  }
}
