.last-block {
  width: 100%;
  padding-top: 77px;
  padding-bottom: 113px;

    .italic {
      width: 595px;
      margin: 0 auto;
    }

    .button {
      display: block;
      margin: 61px auto 0;
    }
}