.last-block {
  width: 100%;
  margin: 77px 0 113px;

  .conteiner {

    .italic {
      width: 595px;
      margin: 0 auto;
    }

    .button {
      display: block;
      margin: 61px auto 0;
    }
  }
}